body{
    background: #23ba50;
}

/*.navbar{*/
    /*float: left;*/
    /*border: 1px solid #000000;*/
/*}*/
/*.carousel{*/
    /*margin: 5px;*/
/*}*/
.collapse{
    border: 1px solid #000000;
    width: 100%;
    background-color: #7dce0f;
    font-size: 20px;
}
.input-group-addon{
    width: 10px;
}
.input-group{
    margin-left: 1000px;
}
button{
    margin-left: 50px;
}
input{
    margin-left: 0px;
}
.footer{
    border: 1px solid green;
    margin-top: 30px;
    height: 100px;
    background-color: aqua;
}
.content{
    /*width: 700px;*/
    /*height: 500px;*/
    border: 1px solid palegreen;
    float: left;
    position: relative;
}

.content1{
    height: 300px;
    width: 400px;
    float: left;
    border: 1px solid green;
}

#trans-nav { list-style-type: none; height: 40px; padding: 0; margin: 0; }
#trans-nav { list-style-type: none; height: 40px; padding: 0; margin: 0; }
#trans-nav li { float: left; position: relative; padding: 0; line-height: 40px; background: #1dce14 url(nav-bg.png) repeat-x 0 0; }
#trans-nav li:hover { background-position: 0 -40px; }
#trans-nav li a { display: block; padding: 0 15px; color: #fff; text-decoration: none; }
#trans-nav li a:hover { color: #16ff59; }
#trans-nav li ul { opacity: 0; position: absolute; left: 0; width: 8em; background: #7dce0f; list-style-type: none; padding: 0; margin: 0; }
#trans-nav li:hover ul { opacity: 1; }
#trans-nav li ul li { float: none; position: static; height: 0; line-height: 0; background: none; }
#trans-nav li:hover ul li { height: 30px; line-height: 30px; }
#trans-nav li ul li a { background: #7dce0f; }
#trans-nav li ul li a:hover { background: #7dce0f; }

#trans-nav li { -webkit-transition: all 0.2s; }
#trans-nav li a { -webkit-transition: all 0.5s; }
#trans-nav li ul { -webkit-transition: all 1s; }
#trans-nav li ul li { -webkit-transition: height 0.5s; }

form{
    width:500px;
    margin:0 auto;
}
.search {
    padding:6px 15px 6px 30px;
    margin:3px;
    background: url('./images/search.png') no-repeat 8px 6px;
}

.rounded {
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

.lighter{
    float: right;
    margin-top: 10px;
}
#trans-nav{
    padding: 5px 0px 0px 2px;
}

.img-thumbnail{
    width: 100%;
    height: 140px;
}
.container{
    margin-top: 5px;
}
.carousel-slide{
    width: 134px;
    height: 34px;
}
.foods{
    width: 600px;
    height: 234px;
}

.nav {
    background-color: palegreen;
}